.follow-bar {
    padding: 20px 24px;
}

.wrapper {
    background-color: var(--hover-bg-color);
    border-radius: 10px;
    padding: 20px;
}

.title {
    font-weight: 500;
    font-size: 20px;
}

.user-list {}