@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --primary-color: #000;
  --text-color: #fff;
  --hover-bg-color: #181818;
  --sky-color: #1D9CEF;
  --border-color: rgb(38 38 38);
  --silver-color: #bbb;
}

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
}

body {
  margin: 0 auto;
  height: auto;
  color: var(--text-color);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}