:root {
  --primary-color: #000;
  --text-color: #fff;
  --hover-bg-color: #181818;
  --sky-color: #1D9CEF;
  --border-color: rgb(38 38 38);
}

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  box-sizing: border-box;
}

button {
  border: none;
}

body {
  margin: 0 auto;
  height: auto;
  color: var(--text-color);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}